<div>新しいタスクの追加</div>

<%= form_tag("/create") do%>
  <p>タスク名</p>
    <input name="name"><br>
  <p>タスクの説明</p>
    <textarea name="description" rows="3" cols="80"></textarea><br>
  <p>終了期限</p>
    <input type="date" name="deadline" ><br>
  <p>ステータス<p>
    <select  name="status" >
      <option value="">選択してください</option>
      <option value="waiting">未着手</option>
      <option value="working">着手中</option>
      <option value="completed">完了</option>
    </select><br>
    <input type="submit" value="追加">
<% end %>
