<h2>
 <%= @task.name %>
</h2>
<div>
  <%= @task.description %>
</div>

<li>
  <%= link_to("編集する","/#{@task.id}/edit") %>
</li>
<li>
  <%= link_to("削除する","/#{@task.id}/destroy",{method:"post"}) %>
</li>
